@import url('https://fonts.googleapis.com/css?family=Nunito|Poppins:500|Open+Sans');
@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  padding: 0;
  text-align: center;
  flex: 1;
  background: #000;
  }

header{
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../../src/images/msj-background-1.jpg);
  height:100vh;
  background-size: cover;
  background-position:center;
}
// .nav-main{
//   float: right;
// }

.container{
    // background:#000;
  height: 100%;
  position: absolute;
  padding-right: 0;
  padding-left: 0;
  font-family: 'Nunito';
}

.toggle-container{
  float:left;
}

.logo-container{
  width: 150px;
  height: 100px;
  // padding: 10px;
}
.header-logo {
  background-image: url(../../src/images/icoc-logo-white.PNG);
  -o-background-size: 100% 100%, auto;
  -moz-background-size: 100% 100%, auto;
  -webkit-background-size: 100% 100%, auto;
  background-size: 100% 100%, auto;
  float:left;
  margin: 10px auto;
}

.header-container{
  max-width: 80%;
  margin: 0 auto;
  padding-right: 0;
  padding-left: 0;
  font-family: 'Nunito';
  text-align: left;
}



.header h1{
  font: 60px georgia,times,serif;
  color: #fff;
  letter-spacing: 5px;
  font-variant: small-caps;
  margin-left: 170px;
}

// .main-body{
//   min-height:400px;
//   // margin:0 0 0 220px;
//   font:15px verdana,arial,sans-serif;
//   color:#fff;
//   text-align:left;
// }
// .menu {
//   width:210px;
//   float:left;
//   margin:50px 0 0 0;
// }

// @media all and (min-width:480px) {

//   img {display:block;margin:0 auto;}
// }

@media (max-width: 769px)
{
 
  .logo-container{
    width: 100px;
    height: 75px;
    // padding: 10px;
  }
  .header h1{
        font: 40px georgia,times,serif;
        letter-spacing: 5px;
        font-variant: small-caps;
        margin-left: 120px;
  }
}

@media(min-width:1000px){

  .container{max-width: 100%;}
  .toggle-container{
   display: none;
   }

   .toolbar__logo{
       margin-left: 0;
   }
  

 
}