.home-qoute h2{
    font-size: 2rem;
    color: white;
    width:500px;
    margin:100px auto;
    text-align: right;
    font-family:"Papyrus";
    margin-top: 100px;
}

.page-container{
    float:right;
}

.featured-video{
    margin: 100px;
    margin-top: 300px;
}